# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @SammeLn1719 will be requested for review when someone opens a pull request.

* @SammeLn1719

# Specific file owners
*.md @SammeLn1719
.github/ @SammeLn1719
docs/ @SammeLn1719

# Extension files
manifest*.json @SammeLn1719
*.js @SammeLn1719
*.html @SammeLn1719
*.css @SammeLn1719

# Build scripts
*.sh @SammeLn1719

# Icons and assets
icons/ @SammeLn1719
